.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.productCard {
  display: flex;
  gap: 12px;
  background: #ffffff;
  border-radius: 18px;
  padding: 10px 12px;
  box-shadow: 0 6px 16px rgba(206, 191, 150, 0.05);
  animation: pulse 1.5s infinite ease-in-out;
}

.imageContainer {
  min-width: 78px;
  width: 78px;
  height: 78px;
  border-radius: 16px;
  background: #eee;
}

.productImage {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background: #e6e6e6;
}

.productInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.productName,
.productPrice,
.productDetails {
  height: 12px;
  background: #eaeaea;
  border-radius: 6px;
}

.productName {
  width: 75%;
  height: 14px;
}
.productPrice {
  width: 40%;
}
.productDetails {
  width: 55%;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}
