.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  margin-top: 20px;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.productCard {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  width: 180px;
  transition: box-shadow 0.2s ease;
}

.productCard:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.imageContainer {
  position: relative;
  width: 180px;
  height: 180px;
  overflow: hidden;
  border: 1px solid #C5C5C5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.topBadges {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  pointer-events: none;
}

/* 위치 뱃지 */
.badgeLocation {
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: #000;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 10px; 
  letter-spacing: -0.32px;
  padding: 5px 7px;
  display: flex;
  align-items: center;
  gap: 2px;
}

.badgeDDay {
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: #000;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 10px; 
  letter-spacing: -0.32px;
  padding: 5px 7px;
  display: flex;
  align-items: center;
  gap: 2px;
}

.productImage {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
}

.productInfo {
  padding: 8px 5px 5px 5px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.productName {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.4;
  margin: 0;
  color: #000;
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}


.productPrice {
  color: #000;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.32px;
  margin: 0;
}

.productDetails {
  color: #5F6368;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 10px;
  letter-spacing: -0.32px;
  margin: 0;
}
.icon {
  width: 11px;
  height: 11px;
  margin-right: 3px;
  vertical-align: middle;
}

.grayOverlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 3; /* 뱃지보다 위 */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.overlayText {
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);

  /* Title/Title1 */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 100% */
  letter-spacing: -0.32px;
}