.chatBottom {
  /* padding: 10px;
  background-color: #fff; */
  display: flex;
  flex-direction: column-reverse; /* 핵심! */
  padding: 10px 10px 0 10px;
  background-color: #fff;
  gap: 8px; /* 간격 조정 */
}

.inputWrapper {
  display: flex;
width: 565px;
/* height: 50px; */
padding: 16px 13px;
justify-content: space-between;
align-items: center;
/* align-items: flex-end; */
border-radius: 10px;
border: 1px solid #000;
background: #FFF;
min-height: 50px;

}

/* + 아이콘 버튼 */
.plusButton {
  background: none;
  border: none;
  padding: 0px;
  margin-right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.plusButton img {
  width: 25px;
height: 25px;
flex-shrink: 0;
aspect-ratio: 1/1;
}

/* 입력창 */
.chatInput {
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
  padding: 0;
  margin: 0;
  background: transparent;
  box-shadow: none;
  border-radius: 0;
  padding-right: 2spx;


  resize: none;
  overflow-y: auto;
  min-height: 24px;
  max-height: 120px;
  line-height: 1.8;



  color: #000;

/* Body/Body1 */
font-family: Inter;
font-size: 13px;
font-style: normal;
font-weight: 400;
/* line-height: 16px; 123.077% */
letter-spacing: -0.32px;
}


/* 전송 버튼 */
.sendButton {
  background: none;
  border: none;
  padding: 0px;
  margin-left: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sendButton img {
  width: 20px;
height: 20px;
flex-shrink: 0;
aspect-ratio: 1/1;
align-items: center;
}


.optionButtons {
display: flex;
padding: 20px;
justify-content: center;
align-items: center;
gap: 50px;
align-self: stretch;
}

.optionBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  gap: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0px;
}

.optionBtn img {
  width: 55px;
height: 55px;
flex-shrink: 0;
aspect-ratio: 1/1;
padding-top: 4.5px;
}

.optionBtn span {
  color: #000;

/* Body/Body2 */
font-family: Inter;
font-size: 11px;
font-style: normal;
font-weight: 500;
line-height: 11px; /* 100% */
letter-spacing: -0.32px;
}

.chatInput::-webkit-scrollbar {
  width: 10px;
}

.chatInput::-webkit-scrollbar-thumb {
  background: #CDCCCC;
  border-radius: 50px;
}

.chatInput::-webkit-scrollbar-track {
  background: #F3F3F3;
  border-radius: 50px;
}

.optionBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}