/* 전체컨테이너 */
.allContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding-top: 97px;
}

/* 뒤로가기 + 이름 */
.backWrapper {
  position: absolute;
  top: 13px;
  left: 26px;
  display: flex;
  align-items: center;
  gap: 26px; 
}

/* 뒤로가기 */
.backIcon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: inline-block;
}

/* 페이지 이름 */
.signupTitle {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.32px;
}

/* 내 동네 둘러보기 */
.heading {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.32px;
  margin-bottom: 74px;
}

/* 현재위치로찾기 + 검색창 */
.searchFormWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

/* 현재위치로찾기버튼 */
.locationButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 143px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background: #FECD24;
  cursor: pointer;

  color: #000;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.32px;
}

/* 위치아이콘 */
.locationIcon {
  width: 22px;
  height: 25px;
}

/* 검색창 + 돋보기아이콘 */
.searchForm {
  position: relative;
  width: 453px;
  height: 40px;
}

/* 검색창 */
.searchInput {
  width: 100%;
  height: 100%;
  padding: 10px 40px 10px 12px;
  box-sizing: border-box;

  border-radius: 10px;
  border: 1px solid #000;
  background: #FFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}

/* 검색창 placeholder */
.searchInput::placeholder {
  color: #6D6D6D;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.32px;
}

/* 돋보기 */
.searchIconInside {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 17px;
  height: 17px;
  cursor: pointer;
}

/* 검색결과 박스 */
.resultBox {
  width: 605px;
  min-height: 100px;
  max-height: 500px;
  border-radius: 10px;
  border: 1px solid #000;
  background: #FFF;
  overflow-y: auto;
}

/* 검색어 결과 라벨 */
.resultItemLabel {
  color: #000;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.32px;
  margin: 24px;
}

/* 구분선 */
.resultBoxDivider {
  display: flex;
  width: 547px;
  height: 1px;
  background-color: #ccc;
  margin: 0 auto;
}

/* 검색결과 동네 리스트 */
.resultItemText {
  color: #000;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.32px;
  margin-left: 24px;
  margin-top: 20px;
  cursor: pointer;
}

/* 검색결과 hover 효과 */
.resultItemText:hover {
  text-decoration: underline;
}

/* 선택된 검색결과 */
.selectedItem {
  font-weight: 700;
  text-decoration: underline;
}
.resultItemText:last-child {
  margin-bottom: 20px;
}

/* 검색결과 없을 때 */
.noResultText {
  color: #000;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.32px;
  margin-left: 24px;
  margin-top: 20px;
}

/* 선택동네 안내박스 */
.confirmBox {
  margin-top: 35px;
  transition: all 0.2s ease;
}

/* 동네 선택됨 */
.visible {
  opacity: 1;
  visibility: visible;
  text-align: center;
}

/* 동네 선택 안됨 */
.hidden {
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

/* 선택 문구 */
.selectedText {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: -0.32px;
  margin: 35px 0 20px 0;
}

/* 다음 버튼 */
.nextButton {
  display: flex;
  width: 375px;
  height: 56px;
  padding: 10px;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 10px;
  background: #000;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;

  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.32px;

  margin-top: 30px;
}

/* 다음 버튼 - 비활성화 */
.nextButton:disabled {
  background: #D9D9D9;
  cursor: not-allowed;
}
