.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 161px;
  padding: 0 40px;
  background-color: #FECD24;
}

.leftBox {
  display: flex;
  align-items: center;
}

.profile {
  width: 127px;
  height: 127px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 24px;
  background-color: #D9D9D9; 
}


.infoBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.name {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; 
  letter-spacing: -0.32px;
  margin: 0;
}

.history {
  color: #000;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; 
  letter-spacing: -0.32px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.potionyWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.potionyBox {
  display: flex;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 12px;
  font-size: 14px;
  gap: 11px;
  width: fit-content;
}

.progressCircle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.percent {
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; 
  letter-spacing: -0.32px;
}

.tooltipImg {
  width: 24px;
  height: 24px;
  object-fit: contain;
  cursor: pointer;
}

.editBtn {
  background-color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 16px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.tooltipBubble {
  position: absolute;
  top: 50%;
  left: 38px; 
  transform: translateY(-50%);
  background: #fff;
  border-radius: 10px;
  padding: 10px 12px;
  color: #000;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px; 
  letter-spacing: -0.32px;
  z-index: 30;
  min-width: 193px;;
  line-height: 1.45;
  white-space: pre-line;
}

.tooltipBubble::before {
  content: '';
  position: absolute;
  left: -18px;
  top: 50%;
  transform: translateY(-50%);
  border-width: 12px 18px 12px 0;
  border-style: solid;
  border-color: transparent  #FECD24 transparent transparent;
}

.tooltipBubble::after {
  content: '';
  position: absolute;
  left: -14px;
  top: 50%;
  transform: translateY(-50%);
  border-width: 10px 15px 10px 0;
  border-style: solid;
  border-color: transparent #fff transparent transparent;
}

