.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(217, 217, 217, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background: #fff;
  border-radius: 20px;
  width: 400px;
  height:492px;
  padding: 24px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin-bottom: 35px;
  width: 352px;
  height: 20px;

}

.title {
  color: #000;

/* Title/Title2 */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 16px; /* 100% */
letter-spacing: -0.32px;
margin: 0px;
}

.closeBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.label {

  display: flex;
  flex-direction: column;
}

.label span {
  margin-bottom: 12px;
  color: #000;

/* Body/Body1 */
font-family: Inter;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 123.077% */
letter-spacing: -0.32px;
}

.input {
  width: 352px;
  height: 40px;
border-radius: 10px;
border: 1px solid #000;
background: #FFF;
box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 12px;

    color: #7E7E7E;

/* Body/Body1 */
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
  letter-spacing: -0.32px;
}

.textarea {
color: #7E7E7E;
/* Body/Body1 */
font-family: Inter;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 123.077% */
letter-spacing: -0.32px;

  border: 1px solid #000;
  border-radius: 8px;
  padding: 12px;
  resize: none;

width: 352px;
height: 80px;
flex-shrink: 0;
  border-radius: 10px;
border: 1px solid #000;
background: #FFF;
box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
margin-bottom: 35px;
}

.nextButton {
  display: flex;
width: 116px;
height: 40px;
padding: 9px 33px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 10px;
background: #FECD24;

/* Title/Title2 */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 16px; /* 100% */
letter-spacing: -0.32px;
border: none;
  cursor: pointer;
}

.closeBtn img{
  width: 21.6px;
  height: 20px;
}

.footer {
  display: flex;
  justify-content: center; /* 가운데 정렬 */
}