.container {
  display: flex;
  width: 1170px;
  min-height: 800px;
  margin: 0 auto;
  padding: 0px;
  justify-content: space-between;
  align-items: flex-start; /* 헤더 포함 높이 맞춤 */
  box-sizing: border-box;
}

/* 왼쪽 전체 영역 */
.leftWrapper {
  display: flex;
  flex-direction: column;
  width: 585px;
  height: 653px;
  box-sizing: border-box;
}

/* 채팅 목록 상단 */
.leftTop {
  display: flex;
  width: 100%;
  height: 72px;
  padding: 25px 15px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

/* 채팅 목록 내용 */
.left {
  flex: 1;
  /* padding-top: 141px;  */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* gap: 16px; */
  background-color: #fff;
  box-sizing: border-box;
  align-items: center;

  /* 스크롤 추가 */
  overflow-y: auto;
  max-height: 581px; /* = 전체 653px - 상단(leftTop) 높이 72px */
}

.left::-webkit-scrollbar {
  width: 17px;
}

.left::-webkit-scrollbar-thumb {
  background: #CDCCCC; /* 스크롤 손잡이 */
  border-radius: 50px;
}

.left::-webkit-scrollbar-track {
  background: #F3F3F3; /* 바탕 띠 색 */
  border-radius: 50px;
}

.chatEmptyText {
  color: #717171;
  text-align: center;
  font-family: 'Inter';
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.32px;
  margin-top: 141px;
  margin-bottom: 0px;
}

.chatEmptyText1 {
  color: #5F6368;
  text-align: center;
  /* Body/Body1 */
  font-family: 'Inter';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.32px;
  margin-top: 39px;
  margin-bottom: 56px;
}

/* 왼쪽 상품둘러보기 버튼 */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 177px;
  height: 50px;

  padding: 12px 30px;

  border: none;
  border-radius: 10px;
  background: #FECD24;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  color: #000;
  text-align: center;

  /* Title/Title2 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 100% */
  letter-spacing: -0.32px;
}

.chatTitle {
  color: #000;

  /* Title/Title1 */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 100% */
  letter-spacing: -0.32px;
}

.right {
  display: flex;
  box-sizing: border-box;
  width: 585px;
  height: 653px;
  justify-content: center;
  align-items: center; 
}


/* 오른쪽 콘텐츠 박스 */
.contentBox {
  width: 555px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 박스 이미지 */
.image {
  width: 115px;
  height: 108px;
}

.chatDetail {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.chatMessages {
  flex-grow: 1; /* 남은 공간을 모두 차지 */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chatMessages::-webkit-scrollbar {
  width: 17px;
}

.chatMessages::-webkit-scrollbar-thumb {
  background: #CDCCCC;
  border-radius: 50px;
}

.chatMessages::-webkit-scrollbar-track {
  background: #F3F3F3;
  border-radius: 50px;
  margin-top: 4px;
}

.dateLine{
  align-self: stretch;
  color: #B2B2B2;
text-align: center;

/* Body/Body1 */
font-family: Inter;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 123.077% */
letter-spacing: -0.32px;
margin-bottom: 10px;
}

.messageGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
