* {
  box-sizing: border-box;
  /*width, height에 padding, border를 포함한 전체 크기로 작동하도록 함*/
}

.container {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.bannerWrapper {
    width: 1280px;
    height: 172px;
    position: relative;
    overflow: hidden;
}
.slider{
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}

.slideImage{
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
}

.dots {
    display: flex;
    gap: 10px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
  border: 1px solid #979797;
  cursor: pointer;
  padding: 0;
}

.dot.active {
  background: #979797;
  border: none;
}

.content {
    display: flex;
    flex-direction: column;
}

.controlBar{
    padding: 0px 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.filterSection{
    display: flex;
    align-items: center;
    gap: 15px;
}

.checkbox{
    display: flex;
    align-items: center;
    gap: 5px;
}

.customCheckbox {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

/* 기본 체크박스 숨기기 */
.customCheckbox input{
    display: none;
}

.customBox {
    width: 24px;
    height: 24px;
    border-radius: 8px;
    background: white;
    border: 2px solid #FECD24;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* 체크되었을 때 */
.customCheckbox input[type="checkbox"]:checked + .customBox {
    background-color: #FECD24;
    
}
.customCheckbox input[type="checkbox"]:checked + .customBox::after {
    content: '✔';
    color: white;
}


.actionSection{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}
.writeBtn{
    display: flex;
    height: 40px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 10px;
    background: #FECD24;
    cursor: pointer;
}

.emptyContainer {
    margin: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 65px;
}
.empty {
    color: #9C9C9C;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; 
    letter-spacing: -0.32px;
  }

.loading {
  text-align: center;
  font-size: 1.2rem;
  color: #999;
  padding: 2rem 0;
}

.productListContainer{
    padding: 0px 65px;
}

.aiProductListContainer{
    margin-top: 20px;
    padding: 0px 55px;
}

.aiProductListWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    align-self: stretch;
}

.recommendWrapper {
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.20);
    padding: 15px
}
