/* Body/Body1 */
.body1 {
  margin: 0;
  color: #000;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 123.077% */
  letter-spacing: -0.32px;
}


/* Body/Body2 */
.body2{
  margin: 0;
  color: #000;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 11px; /* 100% */
  letter-spacing: -0.32px;
}

/* Title/Title2 */
.title2{
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 100% */
  letter-spacing: -0.32px;
}

/* Heading/Heading 3 */
.heading3 {
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 100% */
  letter-spacing: -0.32px;
}