.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 86px; 
}

/* 로고1 */
.character {
  width: 165px;
  margin-bottom: 25px; 
}

/* 로고2 */
.logoTop {
  width: 165px;
  margin-bottom: 96px;
}

/* 함께 사서, 함께 나누는 멘트 */
.slogan {
  color: #000;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.32px;
  margin-bottom: 99px;
}

/* 로그인 후 함께 사서, 함께 나누는 */
.slogan_dif {
  color: #000;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.32px;
  margin-bottom: 20px;
}

/* 카카오 로그인 버튼 */
.kakaoButton {
  width: 375px;
  height: 56px;
  border-radius: 10px;
  background: #FEE500;
  border: none;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.32px;
  margin-bottom: 24px;
  cursor: pointer;
}

/* 로그인 버튼 */
.loginButton {
  width: 375px;
  height: 56px;
  border: none;
  border-radius: 10px;
  background: #000;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.32px;
  margin-bottom: 20px;
  cursor: pointer;
}

/* 로그인 버튼 - 비활성화 */
.loginButton:disabled {
  background: #d9d9d9;
  cursor: not-allowed;
}

/* 메인홈으로 가기 */
.loginCompleteButton {
  width: 375px;
  height: 56px;
  border-radius: 10px;
  background: #FECD24;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  border: none;
  color: #000000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.32px;
  cursor: pointer;
}

/* 첫 방문이신가요? */
.signupText {
  color: #747474;
  text-align: center;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.32px;
}

/* 회원가입 */
.signupLink {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.32px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin: 30px 0 30px;
}

.input {
  width: 375px;
  height: 56px;
  border: none;
  border-radius: 10px;
  background: #E7E7E7;
  padding-left: 12px;
  color: #000;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.input::placeholder {
  color: #949494;
}

/* 로그인 완료 */
.loginText {
  color: #000;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.32px;
  margin-bottom: 50px;
}

/* 뒤로가기 + 이름 */
.backWrapper {
  position: absolute;
  top: 13px;
  left: 26px;
  display: flex;
  align-items: center;
  gap: 26px; 
}

/* 뒤로가기 */
.backIcon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: inline-block;
}

/* 페이지 이름 */
.loginTitle {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; 
  letter-spacing: -0.32px;
}
