.container {
    padding: 86px 26px 0 26px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .backWrapper {
    position: absolute;
    top: 13px;
    left: 26px;
    display: flex;
    align-items: center;
    gap: 26px; 
  }
  
  .backIcon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: inline-block;
  }
  
  .backTitle {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; 
    letter-spacing: -0.32px;
  }
  
  .description {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; 
    letter-spacing: -0.32px;
    margin-bottom: 74px;
  }
  
  .checkboxGroup {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 15px;
    font-weight: 500;
    color: #000;
  }
  
  .separator {
    margin: 16px 0;
    border: none;
    border-top: 1px solid #e0e0e0;
  }
  
  .link {
    color: #666;
    margin-left: 4px;
    cursor: pointer;
    font-size: 13px;
    text-decoration: underline;
  }
  
  .button {
    margin-top: 74px;
    width: 100%;
    height: 56px;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
  