.container {
  padding: 16px 16px 24px;
  min-height: 400px;
  background: #F8F8F8;
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}

.dropdownWrapper {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
  align-items: flex-start;
}

.content {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.empty {
  color: #9C9C9C;
  font-family: Inter, system-ui, -apple-system, sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
