.tabbar {
  width: 100%;
  height: 62px;
  background: #fff;
  border-top: 1px solid #ededed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}

.tabItem {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-decoration: none;
  color: #9a9a9a;
  font-size: 12px;
  font-weight: 500;
}

.tabItem:active {
  background: rgba(0, 0, 0, 0.03);
}

.active {
  color: #000;
  font-weight: 600;
}

.activeIndicator {
  position: absolute;
  top: 0;
  width: 28px;
  height: 3px;
  background: #fecd24;
  border-radius: 0 0 99px 99px;
}

.label {
  line-height: 1;
}
