html,
body {
  margin: 0;
  padding: 0;
  background: #f3f3f3;
  height: 100%;
}

.web-wrapper {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #f3f3f3;
}

.app-frame {
  width: 402px;
  height: 874px; 
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  overflow: hidden; 
}

.app-content {
  flex: 1;
  overflow-y: auto;
  
}

.app-content.no-chrome {
  flex: 1;
  overflow-y: auto;
}

.loading {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
